<div class="page-header">
  <h2><%= @team.name %></h2>
  <h4>
    <% if @team.league.drafting? %>
      <% if @team.league.drafting? && @team == @team.league.current_drafting_team %>
        <p>
          <strong><%= link_to 'Your turn to draft!', new_league_team_team_member_path(@team.league, @team) %></strong>
           in <%= link_to @team.league.name, league_path(@team.league) %>
        </p>
      <% else %>
        <%= @team.league.status %> in <%= link_to @team.league.name, league_path(@team.league) %>
      <% end %>
    <% else %>
      Manage your team roster
    <% end %>
  </h4>
  <% if @team.league.drafting? %>
    <p>Draft Order #: <%= @team.draft_ordinal+1 %></p>
    <% if @team != @team.league.current_drafting_team %>
      <p><%= waiting_on_league_drafting_team(@team.league) %></p>
    <% end %>
  <% end %>
</div>
<ul class="nav nav-tabs">
  <li class='active'>
    <%= link_to "#team", data: {toggle: 'tab'} do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <strong>Edit</strong>
    <% end %>
  </li>
  <% if @league.playing? %>
    <li><a href="#trade" data-toggle="tab">Trade</a></li>
    <li><a href="#recruit" data-toggle="tab">Recruit</a></li>
  <% end %>
  <li><%= link_to 'View Team', league_team_path(@league, @team) %></li>
</ul>
<br />

<div class='tab-content'>
  <div id='team' class='tab-pane active'>
    <% if !@team.league.playing? || @team.league.can_manage_teams_now? %>
      <table class="table table-condensed table-bordered">
        <% if @team.members.size == 0 %>
          <tr>
            <td>
              This team has not drafted any members.
              <% if @team == @team.league.current_drafting_team %>
                <%= link_to 'Draft your team member now', new_league_team_team_member_path(@team.league, @team) %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr class='active'><th>Legislators</th><th>Points</th><th>Manage Roster</th></tr>
        <% end %>
        <% @team.members.each_with_index do |m, i| %>
          <tr>
            <td>
              <%= office_label m.legislator %> 
              <%= link_to m.name, legislator_path(m) %>
            </td>
            <td><%= pluralize m.points, 'points' %></td>
            <% if @team.league.drafting? %>
              <td><%= (i+1).ordinalize %> draft</td>
            <% else %>
              <td>
                <% if m.active? %>
                  <% unless m.leader? %>
                    <%= link_to leader_league_team_team_member_path(@league, @team, m), 
                                method: 'put',
                                class: "btn btn-success btn-xs" do %>
                                <span class="glyphicon glyphicon-plus-sign"></span> leader
                    <% end %>
                  <% end %>
                  <% if m.leader? || m.whip? %>
                    <%= link_to vacate_league_team_team_member_path(@league, @team, m), 
                                method: 'delete',
                                class: "btn btn-danger btn-xs" do %>
                                <span class="glyphicon glyphicon-minus-sign"></span> vacate
                    <% end %>
                  <% end %>
                  <% unless m.whip? %>
                    <%= link_to whip_league_team_team_member_path(@league, @team, m), 
                                method: 'put',
                                class: "btn btn-success btn-xs" do %>
                                <span class="glyphicon glyphicon-plus-sign"></span> whip
                    <% end %>
                  <% end %>
                  <%= link_to recess_league_team_team_member_path(@league, @team, m), 
                              method: 'delete',
                              class: "btn btn-danger btn-xs" do %>
                              <span class="glyphicon glyphicon-minus-sign"></span> recess
                  <% end %>
                <% else %>
                  <%= link_to activate_league_team_team_member_path(@league, @team, m), 
                              method: 'put',
                              disabled: @team.roster_full? ? 'disabled' : nil, 
                              class: "btn btn-success btn-xs" do %>
                              <span class="glyphicon glyphicon-ok-sign"></span> activate
                  <% end %>
                  <%= link_to retire_league_team_team_member_path(@league, @team, m), 
                              method: 'delete',
                              class: "btn btn-danger btn-xs" do %>
                              <span class="glyphicon glyphicon-remove"></span> retire
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>You cannot change your roster right now. This league only allows roster changes during <%= @team.league.rostering_type %>.</p>
    <% end %>      
  </div>

  <div id='trade' class='tab-pane'>
    <% if @team.league.can_manage_teams_now? %>
      <%= form_for @trading, url: league_team_tradings_path(@league, @team), class: 'form-inline' do |f| %>
        <%= f.labeled_group(:offer_trade) do %>
          <%= f.select :team_member_id, 
                       options_for_select(@team.members.map{|t| [t.legislator_name, t._id] }),
                       {include_blank: true}, class: 'form-control' %>
          <p class='help-block'><small></small></p>
        <% end %> 

            <%= f.submit 'Submit', class: 'btn btn-default' %> &nbsp; &nbsp; 
      <% end %>

      <hr />

      <% unless @team_tradings.empty? %>
        <h4>You offered to trade team members</h4>
        <table class="table table-condensed">
          <% @team_tradings.each do |trading| %>
          <tr>
            <td><%= trading.legislator.name %></td>
            <td><%= link_to 'cancel', '' %></td>
          </tr>
          <% end %>
        </table>        
      <% end %>
    <% else %>
      <p>You cannot trade team members right now. This league only allows trades during <%= @team.league.rostering_type %>.</p>
    <% end %>
  </div>

  <div id='recruit' class='tab-pane'>
    <% if @team.league.can_manage_teams_now? %>
      <p>When you have less than <%= @league.formation.size %> team members, you can recruit free agents from legislators who haven't been drafted by another team.</p>
      <table class="table table-condensed table-bordered">
        <% if @recruits.blank? %>
        <tr class='active'><td>You cannot recruit new members right now.</td></tr>
        <% else %>
          <tr class='active'><th>Legislators</th><th>Points</th><th>Manage Roster</th></tr>
          <% @recruits.each do |legislator| %>
            <tr>
              <td>
                <%= office_label legislator %> 
                <%= link_to legislator.full_name, legislator_path(legislator) %>
              </td>
              <td><%= pluralize number_with_delimiter(legislator.points), 'points' %></td>
              <td>
                <%= link_to recruit_league_team_team_member_path(@league, @team, legislator), 
                            method: 'post',
                            class: "btn btn-success btn-xs" do %>
                            <span class="glyphicon glyphicon-ok-sign"></span> recruit
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% else %>
      <p>You cannot recruit team members right now. This league only allows recruitment during <%= @team.league.rostering_type %>.</p>
    <% end %>      
  </div>
</div>