<div class="page-header">
  <h2>Join League <%= content_tag :small, link_to(@league.name, league_path(@league)) %></h2>
</div>

<% if current_user_id == @league.commissioner_id %>
  <p>As league commissioner you can register a team yourself or else chose only to run the league. If you want to only administrate then you can skip this step.</p>
<% else %>
  <p>To join the league you only need to name your team. You will pick your team members once all other teams have joined and drafting begins.</p>
<% end %>

<br/ >

<%= form_for @team, url: {action: 'create'} do |f| %>
  <%= model_errors @team %>

  <%= f.labeled_group(:name) do %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  <% end %> 

  <%= f.command_group do %>
    <p>
      <%= f.submit 'Create Team', class: 'btn btn-default' %>
      <% if current_user_id == @league.commissioner_id %>
        <%= link_to 'Skip ahead', league_path(@league) %>
      <% end %>
    </p>
  <% end %>

<% end %>