<div class="page-header">
  <h2><%= @team.name %></h2>
  <h4><%= @team.league.status %> in <%= link_to @league.name, league_path(@league) %></h4>
  <h5>
    <%= @team.ranked? ? "Ranked #{@team.rank.ordinalize}" : 'Unranked' %> with
    <%= pluralize @team.points, 'point' %>
  </h5>
</div>

<ul class="nav nav-tabs">
  <li>
    <%= link_to edit_league_team_path(@league, @team) do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <strong>Edit</strong>
    <% end %>
  </li>
  <li class='active'><a href="#team" data-toggle="tab">Members</a></li>
  <li><a href="#activity" data-toggle="tab">Legislative Activity</a></li>
  <li><a href="#standing" data-toggle="tab">Standing</a></li>
  <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
</ul>
<br />
<div class='tab-content'>
  <div id='team' class='tab-pane active'>
    <table class="table table-condensed table-bordered">
      <% if @team.members.size == 0 %>
        <tr><td>This team has not drafted any members.</td></tr>
      <% end %>
      <% @team.members.each_with_index do |m, i| %>
        <tr class='<%= m.active? ? 'success' : nil %>'>
          <td>
            <%= office_label m.legislator %> 
            <%= link_to m.name, legislator_path(m.id) %>
            <% if m.leader? %><span class="label label-success">leader</span><% end %>
            <% if m.whip? %><span class="label label-success">whip</span><% end %>
          </td>
          <td><%= pluralize m.points, 'points' %></td>
          <td><%= (i+1).ordinalize %> draft</td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id='activity' class='tab-pane'>
    <h5>
      Upcoming Activity (<%= latest_docket.period %>)
      | <%= link_to 'View All', bills_docket_path(1) %>
    </h5>
    <% if @docket.blank? %>
      <p>Your team members are not sponsoring any legislation in the next week.</p>
    <% else %>
      <p>Your team members are sponsoring legislation planned this week.</p>
      <table class="table table-condensed table-bordered">
        <% if @docket.blank? %>
          <tr><td>Your team members are not sponsoring any legislation in the next week.</td></tr>
        <% else %>
          <% @docket.each do |bill| %>
            <tr>
              <td>
                <strong><%= link_to bill.short_title, bill_path(bill) %></strong>
              </td>
              <td><%= bill.status_description %></td>
            </tr>            
          <% end %>
        <% end %>
      </table>
    <% end %>

    <h5>
      Recent Activity
      <% unless @activity.blank? %>
        | <%= link_to 'View All', league_team_activity_index_path(@league, @team) %>
      <% end %>
    </h5>
    <% unless @activity.blank? %>
      <p>Your team members have scored points with legislation. Note: <u>only active</u> team members add their score to your team.</p>
    <% end %>
    <table class="table table-condensed table-bordered">
      <% if @activity.blank? %>
        <tr><td>This team has not recorded any legislative activity.</td></tr>
      <% end %>
      <% @activity.to_a[0..5].each do |activity| %>
        <tr>
          <td>
            <strong><%= link_to activity.name, bill_path(activity.bill_id) %></strong>
          </td>
          <td>
            <%= link_to activity.legislator.full_name, legislator_path(activity.legislator_id) %>
            <%= activity.category.humanize %>
            <em><%= time_ago_in_words activity.created_at %> ago.</em>
          </td>
          <td>
            +<%= pluralize activity.points, 'points' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id='standing' class='tab-pane'>
    <%= scoresheet_table @team.scoresheet %>

    <table class="table table-condensed table-bordered">
      <tr><th>League Rank</th><th>Team</th><th>Points</th><th>Spread</th></tr>
      <% @teams.each do |team| %>
        <tr class='<%= team.id == @team.id ? 'success' : nil %>'>
          <td>#<%= team.rank %></td>
          <td><%= link_to_if team.id != @team.id, team.name, league_team_path(@league, @team) %></td>
          <td><%= pluralize number_with_delimiter(team.points), 'points' %></td>
          <td><%= team.id === @team.id ? '-' : number_with_delimiter((@team.points-team.points).abs) %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id='statistics' class='tab-pane'>
  </div>
</div>