<div class="page-header">
  <h2>Manage League</h2>
  <% if @league.playing? %>
    <p>Next ranking update in <%= distance_of_time_in_words Time.now, UpdateRankingsJob.scheduled_to_run_at %></p>
  <% end %>
</div>

<ul class="nav nav-tabs">
  <li class='active'>
    <%= link_to "#details", data: {toggle: 'tab'} do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <strong>Edit</strong>
    <% end %>
  </li>
  <li><a href="#members" data-toggle="tab">Members</a></li>
  <li><a href="#privacy" data-toggle="tab">Privacy</a></li>
  <li><%= link_to 'View League', league_path(@league) %></li>
</ul>
<br />

<%= form_for @league, url: {action: 'update'} do |f| %>
  <div class='tab-content'>
    <div id='details' class='tab-pane active'>
        <%= model_errors @league %>

        <%= f.labeled_group(:name) do %>
          <%= f.text_field :name, class: 'form-control' %>
        <% end %> 

        <%= f.labeled_group(:description) do %>
          <%= f.text_area :description, class: 'form-control' %>
        <% end %> 

        <%= f.labeled_group(:roster) do %>
          <%= f.select :rostering_type, 
                       options_for_select(League::ROSTERING_TYPES.map{|t| [t.titleize, t] }, @league.rostering_type),
                       {}, class: 'form-control' %>
        <% end %>  
        
        <%= f.labeled_group :state, 'Game state' do %>
          <% if @league.open? %>
            <%= f.check_box :state, {disabled: false && !@league.can_draft?}, 'drafting', class: 'form-control' %>
            &nbsp; 
            <%= f.label :state, 'Check to begin player drafting.', class: 'plain' %>
          <% elsif @league.drafting? %>
            <%= f.check_box :state, {disabled: false && !@league.can_play?}, 'playing', class: 'form-control' %>
            &nbsp; 

            <%= f.label :state, 'Check to conclude draft and begin playing.', class: 'plain' %>

            <% if !@league.can_play? %>
              <p><%= drafting_round(@league) %>, <%= waiting_on_league_drafting_team(@league) %></p>
            <% end %>
          <% else %>
            <%= @league.state.titleize %>
          <% end %>
        <% end %>

        <%= f.command_group do %>
          <p>
            <%= f.submit 'Update', class: 'btn btn-default' %> &nbsp; &nbsp; 
          </p>
        <% end %> 
    </div>

    <div id='members' class='tab-pane'>
      <table class='table table-condensed table-bordered'>
        <tbody>
        <tr class='active'>
          <th>Team</th>
          <th>Player</th>
        </tr>

        <% @league.teams.each do |team| %>
          <tr>
            <td>
              <%= link_to team.name, league_team_path(@league, team) %>
            </td>
            <td>
              <%= link_to team.user.username, user_path(team.user) %>
              <% if @league.open? %> [<%= link_to 'Ban', league_team_path(@league, team), method: :delete %>]<% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div id='privacy' class='tab-pane'>
      <%= f.labeled_group(:privacy) do %>
        <% if @league.private? %>
          <strong>Private league</strong>
          <% if @league.open? %>
            <p class='help-block'><small>Share the <strong>password and link</strong> with players so they can join the league. Delete the password to make the league public.</small></p>
          <% else %>
            <div class='help-block'><small>Only players can see this league. Share the <strong>password and link</strong> with others whom you want to grant access.</small></div>
          <% end %>
        <% else %>
          <strong>Public league</strong>
          <% if @league.open? %>
            <p class='help-block'><small>Anyone can join this league.</small></p>
          <% else %>
            <p class='help-block'><small>Anyone can view and follow this league.</small></p>
          <% end %>
        <% end %>
      <% end %>

      <% if @league.private? || @league.open? %>
        <%= f.labeled_group(:password) do %>
          <% if @league.open? %>
            <% if @league.private? %>
              <%= f.text_field :password, class: 'form-control' %>
            <% else %>
              <%= f.password_field :password, class: 'form-control', value: @league.password %>
              <p class='help-block'><small>If a <strong>password</strong> is set then the league will be <em>private</em> and users must enter the password in order to join.</small></p>
            <% end %>
          <% elsif @league.private? %>     
            <p><%= @league.password %></p>
          <% end %>     
        <% end %>

        <% if @league.private? %>
          <%= f.labeled_group(:link) do %>
             <div><%= @league.open? ? new_league_team_url(@league) : league_url(@league) %></div>
          <% end %>
        <% end %>

        <% if @league.open? %>
          <%= f.command_group do %>
            <p>
              <%= f.submit 'Save', class: 'btn btn-default' %> &nbsp; &nbsp; 
            </p>
          <% end %> 
        <% end %>
      <% end %>      
    </div>
  </div>

<% end %>