<div class="page-header">
  <h3>Leagues</h3>
</div>

<ul class="nav nav-tabs">
  <li class='active'><a href="#open" data-toggle="tab">Open</a></li>
  <li><a href="#playing" data-toggle="tab">Playing</a></li>
  <li><a href="#private" data-toggle="tab">Private</a></li>
</ul>
<br />
<div class='tab-content'>
  <div id='open' class='tab-pane active'>
    <% unless @open_leagues.blank? %>
      <p>The following leagues are currently accepting new teams. You can also <%= link_to 'start a new league', new_league_path %> yourself.</p>
    <% end %>

    <table class='table table-bordered table-striped'>
      <tr><th>League</th><th>Draft</th><th>Format</th><th>Slots</th></tr>
      <% if @open_leagues.blank? %>
        <tr>
          <td colspan='4'>There are currently no open leagues. <%= link_to 'Start a new league', new_league_path %>.</td>
        </tr>
      <% end %>
      <% @open_leagues.each do |league| %>
        <tr>
          <td><%= link_to league.name, league_path(league) %></td>
          <td><%= league.draft_type %></td>
          <td><%= league.tournament %></td>
          <td><%= "#{league.teams.size}/#{league.slots}" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='playing' class='tab-pane'>
    <% unless @active_leagues.blank? %>
      <p>You can follow these public leagues and their teams. See the top performing lineups and watch for roster changes in response to upcoming legislation.</p>
    <% end %>

    <table class='table table-bordered table-striped'>
      <tr><th>League</th><th>Format</th><th>Teams</th><th>Started</th></tr>
      <% if @active_leagues.blank? %>
        <tr>
          <td colspan='4'>There are currently no publicly playing leagues.</td>
        </tr>
      <% end %>
      <% @active_leagues.each do |league| %>
        <tr>
          <td><%= link_to league.name, league_path(league) %></td>
          <td><%= league.tournament %></td>
          <td><%= league.teams.size %></td>
          <td><%= time_ago_in_words league.created_at %> ago</td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='private' class='tab-pane'>
    <p>You can join a private league by asking the commissioner for a registration link and password.</p>
  </div>
</div>
