<div class="page-header">
  <h2>Create New League</h2>
</div>

<%= form_for @league, url: {action: 'create'} do |f| %>
  <%= model_errors @league %>

  <%= f.labeled_group(:name) do %>
    <%= f.text_field :name, class: 'form-control' %>
  <% end %> 

  <%= f.labeled_group(:draft_type) do %>
    <%= f.select :draft_type, 
                 options_for_select(League::DRAFT_TYPES.map{|t| ["#{t.titleize} Draft", t] }, @league.draft_type),
                 {}, class: 'form-control' %>
    <p class='help-block'><small>A <strong>linear draft</strong> cycles through teams, e.g. 1-2-3-1-2-3. A <strong>snake draft</strong> alternates in reverse order, e.g. 1-2-3-3-2-1. An <strong>autopick draft</strong> randomly assigns optimal draft picks.</small></p>
  <% end %> 

  <%= f.labeled_group(:roster) do %>
    <%= f.select :rostering_type, 
                 options_for_select(League::ROSTERING_TYPES.map{|t| [t.titleize, t] }, @league.rostering_type),
                 {}, class: 'form-control' %>
    <p class='help-block'><small>A roster <strong>always</strong> allows team member changes and trades at any time. An <strong>evening</strong> roster allows changes and trades between 7-12:00 PM. A <strong>weekend</strong> roster allows changes on saturdays and sundays.</small></p>
  <% end %>   

  <%= f.labeled_group(:tournament, 'Tournament type') do %>
    <%= f.select :tournament, 
                 options_for_select(League::TOURNAMENTS.map{|t| [t.titleize, t] }, @league.tournament),
                 {}, class: 'form-control' %>
    <p class='help-block'><small>An <strong>endurance</strong> tournament lasts the entire session. A <strong>round robin</strong> tournament lasts a number of rounds (weeks) equal to the slots. An <strong>elimination</strong> tournament lasts a number of rounds (weeks) per bracketed paring.</small></p>
  <% end %>

  <%= f.labeled_group(:slots, 'Team slots') do %>
    <%= f.number_field :slots, class: 'form-control', min: League::MIN_SLOTS, max: League::MAX_SLOTS %>
    <p class='help-block'><small><strong>Team slots</strong> sets the maximum number of teams that can join the league.</small></p>
  <% end %> 

  <%= f.fields_for :formation do |ff| %>
    <%= ff.labeled_group(:senators, 'Senators per team') do %>
      <%= ff.number_field :senators, class: 'form-control' %>
      <p class='help-block'><small>The number of <strong>senators</strong> determines how many senators players may draft for their team. Of these, only half will be active at any given time.</small></p>
    <% end %> 

    <%= ff.labeled_group(:representatives, 'Representatives per Team') do %>
      <%= ff.number_field :representatives, class: 'form-control' %>
      <p class='help-block'><small>The number of <strong>representatives</strong> determines how many representatives players may draft for their team. Of these, only half will be active at any given time.</small></p>
    <% end %>
  <% end %>

  <%= f.labeled_group(:password) do %>
    <%= f.password_field :password, class: 'form-control' %>
    <p class='help-block'><small>If a <strong>password</strong> is set then the league will be <em>private</em> and users must enter the password in order to join.</small></p>
  <% end %> 

  <%= f.command_group do %>
    <p>
      <%= f.submit 'Create', class: 'btn btn-default' %> &nbsp; &nbsp; 
      <%= link_to "Cancel", leagues_path %>
    </p>
  <% end %>
<% end %>