<div class='page-header'>
  <h2><%= @league.name %></h2>
  <h4>Commissioner: <%= link_to @league.commissioner.username, user_path(@league.commissioner) %></h4>

  <h4>
    <span class="label label-default"><%= @league.status %></span>

    <% if current_user_id == @league.commissioner_id %>
      &nbsp; &nbsp;
      <small>
        <%= link_to edit_league_path(@league) do %>
          <span class="glyphicon glyphicon-pencil"></span>
          <strong>Manage League</strong>
        <% end %>    
      </small>
    <% end %>
  </h4>
</div>

<% if is_public_or_authenticated_league? %>
  <% unless @league.description.blank? %>
    <p><%= @league.description %></p>
  <% end %>
  <p>
    <small>Created <%= @league.created_at %>.  
    <%= @league.tournament.humanize %> format, 
    <%= @league.draft_type.humanize %> draft,
    Roster: <%= @league.rostering_type.titleize %></small>
  </p>

  <table class='table table-condensed table-bordered'>
    <tbody>
    <tr class='active'>
      <th>
        <% if @league.open? %>
          Slot
        <% elsif @league.drafting? %>
          Draft Order
        <% else %>
          Rank
        <% end %>
      </th>
      <th>Team</th>
      <% unless @league.open? %><th>Points</th><% end %>
      <th>Player</th>
    </tr>
    <% [@teams.size, @league.slots].max.times do |i| %>
      <% if i < @league.teams.size %>
        <tr>
          <td>#<%= @league.playing? ? @teams[i].rank : i+1 %></td>
          <td>
            <%= link_to @teams[i].name, league_team_path(@league, @teams[i]) %>
          </td>
          <% unless @league.open? %>
            <td><%= @teams[i].points %></td>
          <% end %>
          <td><%= link_to @teams[i].user.username, user_path(@teams[i].user) %></td>
        </tr>
      <% elsif false && @league.user_joined?(current_user_id) %>
        <h4>Team #<%=i+1%></h4>
        <p>Waiting <br>for player</p>
      <% else %>
        <tr>
          <td>#<%= i+1 %></td>
          <td>
            <%= link_to 'Join League'.html_safe, new_league_team_path(@league), class: "btn btn-default btn-block btn-sm" %>
          </td>
          <td>Waiting...</td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

<% else %>

  <p>This is a private league. Authenticate with the league password to join or view team details.</p>

  <%= form_for @league, url: {action: 'authenticate'}, method: :post, class: 'form-inline' do |f| %>
    <%= model_errors @league %>

    <%= f.password_field :password, placeholder: 'Password', autofocus: true %>
    <%= f.submit 'Authenticate', class: 'btn btn-default' %> &nbsp; &nbsp; 
  <% end %>

<% end %>