<% content_for :body do %>
  <%= mail_table_tag :style => 'color:#666;padding:5% 10%;' do %>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:0 10px' do %>
        <h1 style='margin:10px 0;'>Your League is Ready to Draft</h1>
      <% end %>
    </tr>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:10px' do %>
        <p>All the open slots in your league <strong><%= @league_name %></strong> are filled and team drafting can begin. </p>
        <p>To start the draft visit the league management page.</p>
        <blockquote>
          <%= mail_link_to edit_league_url(@league_id), 
                           edit_league_url(@league_id) %>
        </blockquote>                
      <% end %>
    </tr>
  <% end %>
<% end %>

<%= render :template => 'layouts/email' %>