<% content_for :body do %>
# Your League is Ready to Draft
-------------------------------

All the open slots in your league **<%= @league_name %>** are filled and team drafting can begin. 

To start the draft visit the league management page.

    <%= edit_league_url(@league_id) %>

<% end %>

<%= render :template => 'layouts/email' %>