<% content_for :body do %>
# Your League Draft is Finished
-------------------------------

All the teams in your league **<%= @league_name %>** have finished drafting their team members and are waiting on you to begin. 

To start playing visit the league management page.

    <%= edit_league_url(@league_id) %>

<% end %>

<%= render :template => 'layouts/email' %>