<% content_for :body do %>
# A New Team Joined Your League
-------------------------------

A new team **<%= @team_name %>** joined your league **<%= @league_name %>**.

    <%= league_url(@league_id) %>

You can view the team page here.

    <%= league_team_url(@league_id, @team_id) %>

<% end %>

<%= render :template => 'layouts/email' %>