<% content_for :body do %>
  <%= mail_table_tag :style => 'color:#666;padding:5% 10%;' do %>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:0 10px' do %>
        <h1 style='margin:10px 0;'>A New Team Joined Your League</h1>
      <% end %>
    </tr>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:10px' do %>
        <p>A new team <strong><%= link_to @team_name, league_team_url(@league_id, @team_id) %></strong> joined your league <strong><%= link_to @league_name, league_url(@league_id) %></strong>.</p>
      <% end %>
    </tr>
  <% end %>
<% end %>

<%= render :template => 'layouts/email' %>