<div class="page-header">
  <h2>Reset Password</h2>
</div>

<% if @user.blank? %>
  <p>This link is invalid or expired. <%= link_to 'Request a new password reset link', new_login_password_path %>. </p>
<% else %>
  <p>Account found for <%= @user.email %>. Enter a new password below to login and complete the reset process.</p>
  <br />
  <%= form_for User.new, url: {action: 'update', id: params[:id]}, method: :put do |f| %>
    <%= model_errors @user %>

    <%= f.labeled_group(:new_password) do %>
      <%= f.password_field :password, class: 'form-control' %>
    <% end %>

    <%= f.command_group do |f| %>
      <p>
        <%= f.submit 'Submit', class: 'btn btn-default' %> &nbsp; &nbsp; 
        <%= link_to "Cancel", new_login_path %>
      </p>
    <% end %>
  <% end %>  
<% end %>