<div class="page-header">
  <h2>Reset Password</h2>
  <p>Enter your registered email address to recieve instructions on resetting your password.</p>
</div>

<%= form_for User.new, url: {action: 'create'} do |f| %>
  <%= model_errors @user %>

  <%= f.labeled_group(:email_address) do %>
    <%= f.email_field :email, class: 'form-control' %>
  <% end %>

  <%= f.command_group do |f| %>
    <p>
      <%= f.submit 'Submit', class: 'btn btn-default' %> &nbsp; &nbsp; 
      <%= link_to "Cancel", new_login_path %>
    </p>
  <% end %>
<% end %>