<div class="page-header">
  <h2>Password Request Sent</h2>
</div>

<p>Your password recovery request was sent to your email address and shold appear shortly. Follow the instructions to reset your account password.</p>