<div class='page-header'>
  <h2>Draft Team Member</h2>
  <h4>For team <%= link_to @team.name, league_team_path(@league, @team) %></h4>
  <p><%= drafting_round(@league) %> in <%= link_to @league.name, league_path(@league) %></p>
</div>

<%= model_errors @team %>

<table class="table table-condensed table-bordered">
  <tr class='active'><th>Name</th><th>Party</th><th>State</th><th>Points</th><th>&nbsp;</th></tr>
    <% @legislators.each do |legislator| %>
      <tr>
        <td><%= link_to legislator.full_name, legislator_path(legislator) %></td>
        <td><%= legislator.party %></td>
        <td><%= legislator.state %></td>
        <td><%= legislator.scoresheet.points %></td>
        <td>
          <%= link_to 'Draft Member', 
                      league_team_team_members_path(@league, @team, "team_member[_id]" => legislator.id), 
                      class: 'btn btn-primary btn-xs', 
                      method: :post %>
        </td>
      </tr>
    <% end %>
</table>