<div class="page-header">
  <h2>Edit Account</h2>
</div>
<%= form_for @user, url: {action: 'update'} do |f| %>
    <%= model_errors @user %>

  <%= f.labeled_group(:username) do %>
    <%= f.text_field :username, class: 'form-control', maxlength: 64 %>
  <% end %>

  <%= f.labeled_group(:email) do %>
    <%= f.email_field :email, class: 'form-control' %>
  <% end %>

  <%= f.command_group do |f| %>
    <p>
      <%= f.submit 'Submit', class: 'btn btn-default' %>
    </p>
  <% end %>  
<% end %>