<div class="page-header">
  <h2>Register for FCL</h2>
</div>

<%= form_for @user, url: {action: 'create'} do |f| %>
  <%= model_errors @user %>
    
  <%= f.labeled_group(:username) do %>
    <%= f.text_field :username, class: 'form-control', maxlength: 64 %>
  <% end %>

  <%= f.labeled_group(:email) do %>
    <%= f.email_field :email, class: 'form-control' %>
  <% end %>

  <%= f.labeled_group(:password) do %>
    <%= f.password_field :password, class: 'form-control' %>
  <% end %>

  <%= f.command_group do |f| %>
    <p>
      <%= f.submit 'Submit', class: 'btn btn-default' %> &nbsp; &nbsp; 
      <%= link_to "Already have an account? Login.", new_login_path %>
    </p>
  <% end %>
<% end %>