<div class='page-header'>
  <h2>Help</h2>
</div>

<h4>Scoring Points</h4>

<table>
  <tr><th>Activity</th><th>Score</th></tr>
  <tr><td>Sponsoring Legislation</td><td>20 points</td></tr>
  <tr><td>&bull; Passed House</td><td>+5 points</td></tr>
  <tr><td>&bull; Passed Senate</td><td>+5 points</td></tr>
  <tr><td>&bull; Signed by President</td><td>+10 points</td></tr>
  <tr><td>&bull; Override Veto</td><td>+50 points</td></tr>
  <tr><td>Co-Sponsoring Legislation</td><td>10 points</td></tr>
  <tr><td>&bull; Passed House</td><td>+1 points</td></tr>
  <tr><td>&bull; Passed Senate</td><td>+1 points</td></tr>
  <tr><td>&bull; Signed by President</td><td>+5 points</td></tr>
  <tr><td>&bull; Override Veto</td><td>+10 points</td></tr>
</table>