<div class="jumbotron">
  <div class="container">
    <p>Fantasy Congress League is a free educational web game where you draft a team of senators and representatives to compete for legislative and civic accomplishment.</p>

    <ol class="list-inline">
      <li class="<%= logged_in? && 'active' %>">
        <%= link_to_if !logged_in?, '1. Register', new_user_path %>
      </li>
      <li class="active">2. Join a League</li>
      <li class="active">3. Draft a Team</li>
      <li class="active">4. Play</li>
    </ol>
    <p>
      <%= link_to 'Join league', leagues_path, class: "btn btn-primary btn-lg" %> or 
      <%= link_to 'Start league', new_league_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>

<p class="lead">
  Now playing the <strong>113th</strong> United States Congress. <strong><%= pluralize(days_remaining_in_congress, 'day') %></strong> remaining for league play.
</p>

<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-6 center">
    <%= link_to legislators_path, class: 'plain' do %>
      <div class="thumbnail">
        Research
        <br />
        <img data-src="holder.js/300x200" alt="...">
        <div class="caption">
          <h2>Legislators</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6 center">
    <%= link_to committees_path, class: 'plain' do %>
      <div class="thumbnail">
        Research
        <br />
        <img data-src="holder.js/300x200" alt="...">
        <div class="caption">
          <h2>Committees</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6 center">
    <%= link_to bills_path, class: 'plain' do %>
      <div class="thumbnail">
          Research
          <br />
          <img data-src="holder.js/300x200" alt="...">
          <div class="caption">
            <h2>Bills</h2>
          </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6 center">
    <%= link_to statistics_path, class: 'plain' do %>
      <div class="thumbnail">
        Research
        <br />
        <img data-src="holder.js/300x200" alt="...">
        <div class="caption">
          <h2>Statistics</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>