<div class='page-header'>
  <h2>Statistics : 113th Congress</h2>
</div>

<p>There are <%= number_with_delimiter @bill_count %> bills and resolutions currently before the United States Congress. Of those, only about 5% will become law. They must be enacted before the end of the 2013-2015 session (the “113th Congress”).</p>