<div class="page-header">
  <h2>Bills and Resolutions</h2>
</div>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'All', bills_page_path(1), :docket, nil %>
    <%= button_bar_link_to 'Upcoming', bills_docket_path(1), :docket %>
  </div>

  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'Introduced', bills_status_path('introduced', 1), :status, 'introduced' %>
    <%= button_bar_link_to 'Referred', bills_status_path('referred', 1), :status, 'referred' %>
    <%= button_bar_link_to 'Enacted', bills_status_path('enacted', 1), :status, 'enacted' %>
    <%= button_bar_link_to 'Defeated', bills_status_path('defeated', 1), :status, 'defeated' %>
  </div>  

  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'Senate', bills_chamber_path('senate', 1), :chamber, 'senate' %>
    <%= button_bar_link_to 'House', bills_chamber_path('house', 1), :chamber, 'house' %>
    <%= button_bar_link_to 'Joint', bills_chamber_path('joint', 1), :chamber, 'joint' %>
  </div>  
</div>

<br />

<table class="table table-condensed table-bordered">
  <tr>
    <th>Name</th><th>Description</th><th>Status</th>
  </tr>
  <% @bills.each do |bill| %>
    <tr>
      <td>
        <strong><%= link_to bill.short_title, bill_path(bill) %></strong>
      </td>
      <td><%= truncate bill.official_title, length: 100 %></td>
      <td><%= bill.status_description %></td>
    </tr>
  <% end %>
</table>

<% unless @bills.empty? %>
  <ul class="pager">
    <% if prior_pages? %>
      <li class="previous">
        <%= link_to "&larr; Newer".html_safe, bills_page_path(prior_page) %>
      </li>
    <% end %>
    <% if more_pages? %>
      <li class="next">
        <%= link_to "Older &rarr;".html_safe, bills_page_path(next_page) %>
      </li>
    <% end %>
  </ul>
<% end %>