<div class="page-header">
  <h2>
  	<%= @bill.display_name %> 
  </h2>
  <h5><%= @bill.official_title %></h5>
</div>

<ul class="nav nav-tabs">
  <li class='active'><a href="#information" data-toggle="tab">Information</a></li>
  <li><a href="#sponsors" data-toggle="tab">Sponsors</a></li>
  <li><a href="#actions" data-toggle="tab">Actions</a></li>
  <li><a href="#amendments" data-toggle="tab">Amendments</a></li>
  <li><a href="#related" data-toggle="tab">Related</a></li>
</ul>
<br />
<div class='tab-content'>
  <div id='information' class='tab-pane active'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sponsor</h3>
      </div>
      <div class="panel-body">
        <%= link_to @bill.sponsor.name, legislator_path(@bill.sponsor) %>
      </div>
    </div>
  </div>
  <div id='sponsors' class='tab-pane'>
    <% if not @bill.cosponsors.blank? %>
      <table class="table table-condensed table-bordered">
        <tr class='active'>
          <th>Name</th><th>Date</th>
        </tr>
        <% @bill.cosponsors.to_a.sort{|x,y| x.sponsored_at <=> y.sponsored_at }.each do |sponsor| %>
          <tr <%= sponsor.withdrawn? ? "class='danger'" : nil %>>
            <td> 
              <%= link_to sponsor.name, legislator_path(sponsor) %>
            </td>
            <td><%= sponsor.sponsored_at %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div id='actions' class='tab-pane'>
    <table class="table table-condensed table-bordered">
      <tr><th>Activity</th></tr>
      <% @bill.actions.each do |action| %>
        <tr>
          <td><%= action.created_at %></td>
          <td><%= action.text %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='amendments' class='tab-pane'>
    <% unless @bill.amendments.blank? %>
      <table class="table table-condensed table-bordered">
        <tr><th>Purpose</th><th>Sponsor</th><th>Introduced</th></tr>
        <% @bill.amendments.each do |amendment| %>
          <tr>
            <td><small><%= amendment.purpose %></small></td>
            <td><%= link_to amendment.sponsor.name, legislator_path(amendment.sponsor) if amendment.sponsor %></td>
            <td><%= amendment.introduced_at %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <div id='related' class='tab-pane'>
    <% if @bill.related_bills.blank? %>
      <p>There are no bills related to <%= @bill.short_title %>.</p>
    <% else %>
      <table class="table table-condensed table-bordered">
        <tr><th>Name</th></tr>
        <% @bill.related_bills.each do |bill| %>
          <tr>
            <td><%= 'xxx' %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
