<div class="page-header">
  <h2>Legislators</h2>
</div>

<div class="btn-group btn-group-s">
  <%= button_bar_link_to 'All', legislators_path, :alpha, nil %>
  <% alphabet.each do |l| %>
    <%= button_bar_link_to l, legislators_name_path(l, 1), :alpha, l %>
  <% end %>
</div>

<br />
<br />

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'Senate', legislators_chamber_path('sen', 1), :chamber, 'sen' %>
    <%= button_bar_link_to 'House', legislators_chamber_path('rep', 1), :chamber, 'rep' %>
  </div>  

  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'Veterans', legislators_status_path('veteran', 1), :status, 'veteran' %>
    <%= button_bar_link_to 'Rookies', legislators_status_path('rookie', 1), :status, 'rookie' %>
  </div>    

  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'Democrats', legislators_party_path('democrat', 1), :party, 'democrat' %>
    <%= button_bar_link_to 'Republicans', legislators_party_path('republican', 1), :party, 'republican' %>
    <%= button_bar_link_to 'Independents', legislators_party_path('independent', 1), :party, 'independent' %>
  </div>      

  <div class="btn-group btn-group-s">
    <%= button_bar_link_to 'Male', legislators_gender_path('m', 1), :gender, 'm' %>
    <%= button_bar_link_to 'Female', legislators_gender_path('f', 1), :gender, 'f' %>
  </div>    
</div>

<br />

<table class="table table-condensed table-bordered table-striped">
  <tr>
    <th>Legislator</th>
    <th><abbr title='Sponsored bills'>SB</abbr></th>
    <th><abbr title='Cosponsored bills'>CB</abbr></th>
    <th><abbr title='Sponsored enacted bills'>SE</abbr></th>
    <th><abbr title='Coponsored enacted bills'>CE</abbr></th>
    <th><abbr title='Defeated bills'>DB</abbr></th>
    <th><abbr title='Sponsored amendments'>SA</abbr></th>
    <th><abbr title='Passed amendments'>PA</abbr></th>
    <th><abbr title='Clotures won'>CL</abbr></th>
    <th><abbr title='Maverick votes'>MV</abbr></th>
    <th><abbr title='Absences'>AB</abbr></th>
    <th><abbr title='Point total'>PT</abbr></th>
  </tr>
  <% @legislators.each do |legislator| %>
    <tr>
      <td>
        <%= link_to legislator_path(legislator) do %>
          <%= legislator.full_name %> (<%= legislator.chamber_abbr %><%= legislator.party_abbr %>)
        <% end %>
      </td>
      <td><%= legislator.scoresheet.sponsored_bills %></td>
      <td><%= legislator.scoresheet.cosponsored_bills %></td>
      <td><%= legislator.scoresheet.sponsored_enacted_bills %></td>
      <td><%= legislator.scoresheet.cosponsored_enacted_bills %></td>
      <td><%= legislator.scoresheet.defeated_bills %></td>
      <td><%= legislator.scoresheet.sponsored_amendments %></td>
      <td><%= legislator.scoresheet.passed_amendments %></td>
      <td><%= legislator.scoresheet.winning_cloture_votes %></td>
      <td><%= legislator.scoresheet.maverick_votes %></td>
      <td><%= legislator.scoresheet.absences %></td>
      <td><%= legislator.scoresheet.points %></td>
    </tr>
  <% end %>
</table>


<ul class="pager">
<% if prior_pages? %>
  <li class="previous">
    <%= link_to_legislators_page_path "&larr; Previous", prior_page %>
  </li>
<% end %>

<% if more_pages? %>
  <li class="next">
    <%= link_to_legislators_page_path "Next &rarr;", next_page %>
  </li>
<% end %>
</ul>
