<div class="page-header">
  <h2>
  	<%= "#{@legislator.short_title} #{@legislator.full_name}" %> 
  	<%= content_tag :small, @legislator.party %>
  </h2>
</div>

<ul class="nav nav-tabs">
  <li class='active'><a href="#overview" data-toggle="tab">Overview</a></li>
  <li><a href="#activity" data-toggle="tab">Activity</a></li>
  <li><a href="#legislation" data-toggle="tab">Legislation</a></li>
  <li><a href="#committees" data-toggle="tab">Committees</a></li>
</ul>

<br />
<div class='tab-content'>
  <div id='overview' class='tab-pane active'>
    <p class='pull-left'><%= image_tag @legislator.photo, :class => 'img-thumbnail img-legislator' %></p>
    <h4><%= @legislator.term.display_name %></h4>

    <%= content_tag :p, "State: #{@legislator.state}" %>
    <%= content_tag :p, "Born: #{@legislator.birthday}" if @legislator.birthday %>
    <%= content_tag :p, "Relgion: #{@legislator.religion}" if @legislator.religion %>

    <p>
      <%= link_to "Website", @legislator.website, target: '_blank' if @legislator.website %>
      <%= link_to "Twitter (@#{@legislator.twitter_id})", "https://twitter.com/#{@legislator.twitter_id}", target: '_blank' if @legislator.twitter_id %>
      <%= link_to "Youtube Channel", "https://youtube.com/user/#{@legislator.youtube_id}", target: '_blank' if @legislator.youtube_id %>
      <%= link_to "Facebook", "https://facebook.com/profile.php?id=#{@legislator.facebook_id}", target: '_blank' if @legislator.facebook_id %>
    </p>

    <%= scoresheet_table @legislator.scoresheet %>
  </div>
  <div id='activity' class='tab-pane'>
    <% unless @annals.blank? %>
      <p>Recent scoring activity | <%= link_to 'View All', legislator_activity_index_path(@legislator) %></p>
    <% end %>
    <table class="table table-condensed table-bordered">
      <% if @annals.blank? %>
        <tr><td>No legislative activity recorded</td></tr>
      <% end %>

      <% @annals.each do |activity| %>
        <tr>
          <td>
            <strong><%= link_to_activity activity %></strong>
          </td>
          <td>
            <%= activity.description.upcase %>
            <em><%= time_ago_in_words activity.created_at %> ago.</em>
          </td>
          <td>+<%= pluralize activity.points, 'point' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='legislation' class='tab-pane'>
    <h4><%= pluralize @bills.size, 'sponsored bill' %></h4>

    <table class="table table-condensed table-bordered">
      <% if @bills.blank? %>
        <tr><td>No bills sponsored</td></tr>
      <% end %>

      <% @bills.each do |bill| %>
        <tr>
          <td>
            <%= link_to bill.display_name, bill_path(bill) %>
          </td>
          <td><%= (bill.last_action.status || bill.last_action.type || '').titleize %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='committees' class='tab-pane'>
    <table class="table table-condensed table-bordered">
      <% if @membership.empty? %>
        <tr><td>No committee positions held.</td></tr>
      <% end %>

      <% @membership.each do |member| %>
        <tr>
          <td>
            <strong><%= member.title || 'Member' %></strong>
          </td>
          <td>
            <%= link_to member.committee_name, committee_path(member.committee) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>