<% content_for :body do %>
  <%= mail_table_tag :style => 'color:#666;padding:5% 10%;' do %>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:0 10px' do %>
        <h1 style='margin:10px 0;'>Password Reset</h1>
      <% end %>
    </tr>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:10px' do %>
        <p>A password reset request was made on <%= Time.now %>. You can visit the following link to login and reset your password.</p>
        <blockquote>
          <%= mail_link_to edit_login_password_url(@token), 
                           edit_login_password_url(@token) %>
        </blockquote>        
      <% end %>
    </tr>
  <% end %>
<% end %>

<%= render :template => 'layouts/email' %>