<% content_for :body do %>
# Welcome to Fantasy Congress League
------------------------------------

Your account has been created. You can start playing immediately by joining an open league, or else start one of your own.

    <%= leagues_url %>

Learn the rules for drafting, scoring, and running a league on the help page.

    <%= help_url %>

<% end %>

<%= render :template => 'layouts/email' %>