<% content_for :body do %>
  <%= mail_table_tag :style => 'color:#666;padding:5% 10%;' do %>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:0 10px' do %>
        <h1 style='margin:10px 0;'>Welcome to Fantasy Congress League</h1>
      <% end %>
    </tr>
    <tr>
      <%= mail_table_cell_tag :style => 'padding:10px' do %>
        <p>Your account has been created. You can start playing immediately by joining an open league, or else start one of your own.</p>
        <blockquote>
          <%= mail_link_to leagues_url, leagues_url %>
        </blockquote>        
        <p>Learn the rules for drafting, scoring, and running a league on the help page.</p>
        <blockquote>
          <%= mail_link_to help_url, help_url %>
        </blockquote>                
      <% end %>
    </tr>
  <% end %>
<% end %>

<%= render :template => 'layouts/email' %>