<div class="page-header">
  <h2>Committees</h2>
</div>

<ul class="nav nav-tabs">
  <li class='active'><a href="#senate" data-toggle="tab">Senate</a></li>
  <li><a href="#house" data-toggle="tab">House</a></li>
  <li><a href="#joint" data-toggle="tab">Joint</a></li>
</ul>
<br />
<div class='tab-content'>
  <div id='senate' class='tab-pane active'>
    <p>The senate committees comprise both standing and select committees with legislative jurisdiction for passing laws. No additional committees can be created, and floor debates favor the majority party.</p>
    <table class="table table-condensed table-bordered">
      <% @senate.each do |committee| %>
        <tr>
          <td><%= link_to committee.name, committee_path(committee) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='house' class='tab-pane'>
    <p>The house committees comprise both standing and select committees with legislative jurisdiction for passing laws. The speaker may create ad hoc committees, and floor debates facilitate balance.</p>
    <table class="table table-condensed table-bordered">
      <% @house.each do |committee| %>
        <tr>
          <td><%= link_to committee.name, committee_path(committee) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id='joint' class='tab-pane'>
    <p>The joint committees are made up of both senators and representatives. They typically have an oversight or policy role but no legislative duties.</p>
    <table class="table table-condensed table-bordered">
      <% @joint.each do |committee| %>
        <tr>
          <td><%= link_to committee.name, committee_path(committee) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>