<div class="page-header">
  <h2>
    <%= @committee.name %> 
  </h2>
  <small>
    <%= link_to committees_path do %>
      <span class="glyphicon glyphicon-chevron-left"></span>
      view all committees
    <% end %>
  </small>
</div>

<ul class="nav nav-tabs">
  <li class='active'><a href="#overview" data-toggle="tab">Overview</a></li>
  <li><a href="#members" data-toggle="tab">Members</a></li>
  <li><a href="#subcommittees" data-toggle="tab">Subcommittees</a></li>
  <li><a href="#bills" data-toggle="tab">Bills</a></li>
</ul>
<br />

<div class='tab-content'>
  <div id='overview' class='tab-pane active'>
    <h4>Website: <%= link_to @committee.url, @committee.url, target: '_blank' if @committee.url %></h4>
    <br />

    <% @committee.officers.each do |member| %>
      <p>
        <strong><%= member.title %> :</strong>
        <%= link_to member.name, legislator_path(member) %>
      </p>
    <% end %>

    <p><small>The chairman is always selected from the majority party. The ranking member is the most senior member of the minority party.</small></p>

    <hr />

    <p><strong>Subcommittees :</strong> <%= @subcommittees.size %></p>
    <p><strong>Bills :</strong> <%= @bills.size %></p>
    <p><strong>Republicans :</strong> <%= @committee.republicans.size %></p>
    <p><strong>Democrats :</strong> <%= @committee.democrats.size %></p>

  </div>
  <div id='members' class='tab-pane'>
    <% if @members.empty? %>
      <p>This committee has no members.</p>
    <% else %>
      <table class="table table-condensed table-bordered">
        <% @members.each do |member| %>
          <tr>
            <td>
              <%= committee_member_label member %>
              <%= link_to member.name, legislator_path(member) %>
            </td>
          </tr>
        <% end %>
      </table>      
    <% end %>
  </div>
  <div id='subcommittees' class='tab-pane'>
    <% if @subcommittees.empty? %>
      <p>This committee has no subcommittees.</p>
    <% else %>
      <table class="table table-condensed table-bordered">
        <% @subcommittees.each do |subcommittee| %>
          <tr><td><%= subcommittee.name %></td></tr>
        <% end %>
      </table>      
    <% end %>
  </div>
  <div id='bills' class='tab-pane'>
    <% if @bills.empty? %>
      <p>No bills have been referred to this committee.</p>
    <% else %>
      <p><%= pluralize(@bills.size, 'bill') %> referred to this committe.</p>
      <table class="table table-condensed table-bordered">
        <tr class='active'>
          <th>Name</th><th>Activity</th>
        </tr>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= link_to bill.short_title, bill_path(bill) %></td>
            <td><%= bill.referrals.select{|r| r._id == @committee._id }.map(&:activity).flatten.join(', ') %></td>
          </tr>
        <% end %>
      </table>      
    <% end %>
  </div>
</div>