<div class="page-header">
  <h2><%= @parent.display_name %></h2>
</div>

<h4>Legislative Activity</h4>
<table class="table table-condensed table-bordered">
  <tr>
    <th>Name</th><th>Description</th><th>Score</th>
  </tr>
  <% @annals.each do |activity| %>
    <tr>
      <td>
        <strong><%= link_to activity.name, bill_path(activity.bill_id) %></strong>
      </td>
      <td>
        <%= link_to activity.legislator.full_name, legislator_path(activity.legislator_id) %>
        <%= activity.category.humanize %>
        <em><%= time_ago_in_words activity.created_at %> ago.</em>
      </td>
      <td>
        +<%= pluralize activity.points, 'points' %>
      </td>
    </tr>
  <% end %>
</table>

<% unless @annals.empty? %>
  <ul class="pager">
    <% if prior_pages? %>
      <li class="previous">
        <%= link_to "&larr; Newer".html_safe, paginated_activity_path(prior_page) %>
      </li>
    <% end %>
    <% if more_pages? %>
      <li class="next">
        <%= link_to "Older &rarr;".html_safe, paginated_activity_path(next_page) %>
      </li>
    <% end %>
  </ul>
<% end %>