<div class="page-header">
  <h2>Login to FCL</h2>
</div>

<%= form_for @user, url: {action: 'create'} do |f| %>
  <%= model_errors @user %>

  <%= f.labeled_group(:email) do %>
    <%= f.email_field :email, class: 'form-control' %>
  <% end %>

  <%= f.labeled_group(:password) do %>
    <%= f.password_field :password, class: 'form-control' %>
  <% end %>

  <%= f.command_group do |f| %>
    <p>
      <%= f.submit 'Submit', class: 'btn btn-default' %> &nbsp; &nbsp; 
      <%= link_to "Don't have an account? Register for free.", new_user_path %>
    </p>
    <p><%= link_to "Forgot your password?", new_login_password_path %></p>
  <% end %>
<% end %>
