<div class="page-header">
  <h2>Daily Scores</h2>
</div>

<table class="table table-condensed table-bordered table-striped">
  <tr>
    <th>Date</th>
    <th><abbr title='Sponsored bills'>SB</abbr></th>
    <th><abbr title='Cosponsored bills'>CB</abbr></th>
    <th><abbr title='Sponsored enacted bills'>SE</abbr></th>
    <th><abbr title='Coponsored enacted bills'>CE</abbr></th>
    <th><abbr title='Defeated bills'>DB</abbr></th>
    <th><abbr title='Sponsored amendments'>SA</abbr></th>
    <th><abbr title='Passed amendments'>PA</abbr></th>
    <th><abbr title='Clotures won'>CL</abbr></th>
    <th><abbr title='Maverick votes'>MV</abbr></th>
    <th><abbr title='Absences'>AB</abbr></th>
    <th><abbr title='Point total'>PT</abbr></th>
  </tr>
  <% @scoresheets.each do |scoresheet| %>
    <tr>
      <td>
        <%= scoresheet.created_at %>
      </td>
      <td><%= scoresheet.sponsored_bills %></td>
      <td><%= scoresheet.cosponsored_bills %></td>
      <td><%= scoresheet.sponsored_enacted_bills %></td>
      <td><%= scoresheet.cosponsored_enacted_bills %></td>
      <td><%= scoresheet.defeated_bills %></td>
      <td><%= scoresheet.sponsored_amendments %></td>
      <td><%= scoresheet.passed_amendments %></td>
      <td><%= scoresheet.winning_cloture_votes %></td>
      <td><%= scoresheet.maverick_votes %></td>
      <td><%= scoresheet.absences %></td>
      <td><%= scoresheet.points %></td>
    </tr>
  <% end %>
</table>