html,
body {
height: 100%;
}

#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -30px;
padding: 0 0 30px;
}

#wrap > .container {
padding: 30px 15px 0;
}

#wrap > .container > .jumbotron {
margin-top: 40px;
padding: 10px 20px 30px;
}

#wrap > .container > .jumbotron .breadcrumb {
font-size: 15px;
}

#wrap > .container > .jumbotron ol {
font-size: 18px;
margin: 20px 0;
}

#footer {
height: 30px;
line-height: 30px;
background-color: #f5f5f5;
}