<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Congress League</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Fantasy Congress League', root_path, class: 'navbar-brand' %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Capital Hill', capital_hill_path %></li>
            <li><%= link_to 'Leagues', leagues_path %></li>
            <li><%= link_to 'Help', help_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to 'Account', edit_user_path %></li>
              <li><%= link_to 'Logout', login_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Login / Register', new_login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>    

    <div class="container">
      <%= yield %>
    </div>   
  </div>

  <div id="footer">
    <div class="container">
      <small>&copy; Copyright Bellwether <%= Date.today.year %></small>
    </div>
  </div> 
</body>
</html>