<%= content_for?(:title) ? "##{content_for(:title)}" : nil %>

<%= content_for?(:body) ? yield(:body) : yield %>

----------------------
Fantasy Congress League &copy; 2013-<%= Date.today.year %> Bellwether.